# ========== UNITY IGNORE CORRECTO PARA TU ESTRUCTURA ==========

TrabajoFinal/[Ll]ibrary/
TrabajoFinal/[Tt]emp/
TrabajoFinal/[Oo]bj/
TrabajoFinal/[Bb]uild/
TrabajoFinal/[Bb]uilds/
TrabajoFinal/[Ll]ogs/
TrabajoFinal/[Uu]serSettings/
TrabajoFinal/[Mm]emoryCaptures/
TrabajoFinal/[Dd]erivedData/
TrabajoFinal/Packages/com.unity.package-manager-ui/

# VS / Jetbrains
.vscode/
.idea/
*.csproj
*.unityproj
*.sln
*.tmp
*.log
*.user
*.userprefs
*.pidb
*.mdb
*.opendb
*.VC.db
